.container{
    height: 500px;
    padding: 20px;
    display: flex;
    background-color: rgb(223, 173, 230);
    flex-flow: row wrap;
    justify-content:space-around ;
    align-items: stretch;
    align-content: space-around;
   
    
}
.container div {
    background-color: rgb(209, 206, 18);
    margin: 10px;
    padding: 20px;
    font-size: 25px;
  
    
}