.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: darkkhaki;
    padding: 10px;
}
.container >div{
    background-color: rgba(210,243,223,0.8);
    text-align: center;
    padding: 25px 0;
    font-size: 30px;
    border: 3px dotted red;
}

.item1{
 grid-area:1/2/5/5 ;
}